{{!-- All events page --}}
{{#if events.length}}
<div class="events-banner">
  <div>
    <h1 class="upcoming-text">Upcoming Events</h1>
  </div>
</div>
{{!-- {{#if events.length}} --}}
<div class="row gx-2 event-list event-holder">
  {{#each events as |event|}}
  <div class="col-md-4">
    <div class="event-card">
      <a href="/event/{{event.id}}">
        <h4 class="event-name">{{event.name}}</h4>
        <p>{{event.description}}</p>
        <p>Date: {{format_date event.date}} {{format_time event.date}}</p>
      </a>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}