<!-- Welcome banner with image and username -->
<div class="indv-banner">
  <h1 class="upcoming-text text-center">{{name}}</h1>
</div>
<!-- Google Map & Info -->
<div class="row m-4 event-holder">
  <!-- Google Map (Order 1 on medium and larger screens, Order 3 on small screens) -->
  <div class="col-md-4 order-md-1 order-3 google-map my-3 d-flex justify-content-center">
    <div id="map"></div>
  </div>
  <!-- Event details column (Order 2 on medium and larger screens, Order 1 on small screens) -->
  <div class="col-md-8 order-md-2 order-1 mt-2">
    <!-- Event details -->
    <div>
      <p class="event-head">{{description}}</p>
      <p class="event-head"><span>Date:</span> {{format_date date}} <span>-</span> {{format_time date}}</p>
      <p class="event-head"><span>Venue:</span> {{venue.name}}</p>
      <p class="event-head"><span>Hosted by:</span> {{user.username}}
    </div>
    <!-- List of Attendees -->
    <div class="row attendees-section">
      <h3 class="attendees-header">Attendees ({{rsvps.length}})</h3>
      <div class="attendees-list">
        {{#if rsvps.length}}
          {{#each rsvps}}
            <div class="attendee-item">
              <span class="attendee-username">{{user.username}}</span>
            </div>
          {{/each}}
        {{else}}
          <div class="no-attendees ">No attendees yet.</div>
        {{/if}}
      </div>
    </div>
    <!-- RSVP & Cancel RSVP buttons column (Order 3 on medium and larger screens, Order 2 on small screens) -->
    <div class="col-md-12 order-md-3 order-2 mt-3">
      {{#if logged_in}}
      {{#unless hasRSVP}}
      <!-- RSVP button -->
      <div class="rsvp-btn text-left">
        <form action="/event/{{id}}/rsvp">
          <button type="submit" class="btn btn-dark homepage-btn">RSVP</button>
        </form>
      </div>
      {{/unless}}
      {{#if hasRSVP}}
      <!-- Cancel RSVP button -->
      <div class="cancel-rsvp-btn text-left">
        <form action="/event/{{id}}/cancel-rsvp">
          <button type="submit" class="btn btn-dark homepage-btn">Cancel RSVP</button>
        </form>
      </div>
      {{/if}}
      {{else}}
      <!-- Message for non-logged-in users -->
      <div class="text-start">
        <p class="login-to-rsvp event-head">Please <a href="/login?redirect=/event/{{id}}" class="text-decoration-none">login</a> to RSVP for this event.</p>
      </div>
      {{/if}}
    </div>
  </div>
<!-- Google Map API -->
<script>
  function initMap() {
    var center = { lat: {{venue.latitude}}, lng: {{venue.longitude}} };

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15, 
      center: center
    });

    var marker = new google.maps.Marker({
      position: center,
      map: map,
      title: 'My Location'
    });
  }
  // Prevent Google Maps from loading the Roboto font
  var head = document.getElementsByTagName('head')[0];
  var insertBefore = head.insertBefore;
  head.insertBefore = function (newElement, referenceElement) {
    if (newElement.href && newElement.href.indexOf('https://fonts.googleapis.com/css?family=Roboto') === 0) {
      return;
    }
    insertBefore.call(head, newElement, referenceElement);
  };
</script>
<script src={{map_string}}></script>
<!-- JavaScript file for handling the RSVPfunctionality -->
<script src="/js/rsvp.js"></script>