<!-- Welcome banner with image and username -->
<div class="indv-banner">
  <h1 class="upcoming-text text-center">{{name}}</h1>
</div>
<!-- Map & Info -->
<div class="row m-4 event-holder">
  <!-- Map (Order 1 on medium and larger screens, Order 3 on small screens) -->
  <div class="col-md-4 order-md-1 order-3 map my-4 d-flex justify-content-center">
    <div id="map" data-latitude="{{{venue.latitude}}}" data-longitude="{{{venue.longitude}}}"></div>
  </div>
  <!-- Event details column (Order 2 on medium and larger screens, Order 1 on small screens) -->
  <div class="col-md-8 order-md-2 order-1 mt-3 px-4">
    <!-- Event details -->
    <div>
      <p class="event-head">{{description}}</p>
      <p class="event-head"><span>Date:</span> {{format_date date}} <span>-</span> {{format_time date}}</p>
      <p class="event-head"><span>Venue:</span> {{venue.name}}</p>
      <p class="event-head"><span>Hosted by:</span> {{user.username}}
    </div>
    <!-- List of Attendees -->
    <div class="row attendees-section m-0 px-0">
      <h3 class="attendees-header">Attendees ({{rsvps.length}})</h3>
      <div class="attendees-list">
        {{#if rsvps.length}}
        {{#each rsvps}}
        <div class="attendee-item">
          <span class="attendee-username">{{user.username}}</span>
        </div>
        {{/each}}
        {{else}}
        <div class="no-attendees ">No attendees yet.</div>
        {{/if}}
      </div>
    </div>
    <!-- RSVP & Cancel RSVP buttons column (Order 3 on medium and larger screens, Order 2 on small screens) -->
    <div class="col-md-12 order-md-3 order-2">
      {{#if logged_in}}
      {{#unless hasRSVP}}
      <!-- RSVP button -->
      <div class="rsvp-btn text-left">
        <form action="/event/{{id}}/rsvp">
          <button type="submit" class="btn btn-dark homepage-btn my-3">RSVP</button>
        </form>
      </div>
      {{/unless}}
      {{#if hasRSVP}}
      <!-- Cancel RSVP button -->
      <div class="cancel-rsvp-btn text-left">
        <form action="/event/{{id}}/cancel-rsvp">
          <button type="submit" class="btn btn-dark homepage-btn my-3">Cancel RSVP</button>
        </form>
      </div>
      {{/if}}
      {{else}}
      <!-- Message for non-logged-in users -->
      <div class="text-start">
        <p class="login-to-rsvp my-3">Please <a href="/login?redirect=/event/{{id}}" class="text-decoration-none">login</a>
          to RSVP for this event.</p>
      </div>
      {{/if}}
    </div>
  </div>
  <!-- JavaScript file for handling the Map functionality -->
  <script src="/js/map.js"></script>
  <!-- JavaScript file for handling the RSVPfunctionality -->
  <script src="/js/rsvp.js"></script>