  <h1>My Events</h1>

  <h2>RSVP'd Events</h2>
  {{#if rsvpEvents.length}}
    <ul>
      {{#each rsvpEvents}}
        <li>
          <a href="/event/{{this.id}}">{{this.name}}</a> by {{this.user.username}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No RSVP'd events</p>
  {{/if}}

  <h2>Created Events</h2>
  {{#if createdEvents.length}}
    <ul>
      {{#each createdEvents}}
        <li>
          {{#if this.event}}
            <a href="/event/{{this.event.id}}">{{this.event.name}}</a> by {{this.user.username}}
          {{else}}
            <a href="/event/{{this.id}}">{{this.name}}</a> by {{this.user.username}}
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No created events</p>
  {{/if}}