<div class="profile-main">
  <div class="profile-header">
    <div class="profile-username">
      <div class="profile-image"></div>
      <h3 class="username"> {{username}}</h3>
    </div>
  </div>
  <div class="profile-content-main">
    <div class="event-creation">
      <div class="event-form">
        <h3>Create a New Event:</h3>
        <form class="form new-event-form">
          <div class="form-group">
            <input class="form-input" placeholder="Event Name:" type="text" id="event-name" name="event-name" />
          </div>
          <div class="form-group">
            <textarea class="form-input" placeholder="Description" id="event-description"
              name="event-description"></textarea>
          </div>
          <div class="form-group">
            <input class="form-input" placeholder="Date:" type="datetime-local" id="event-date" name="event-date" />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
    {{#if events.length}}
    <div class="event-list-container">
      <h3>My Events</h3>
      {{#each events as |event|}}
      <a href="/event/{{event.id}}" class="single-event">
        <div class="event-list">
          <div class="col-md-8">
            <h4>{{event.name}}</h4>
            <p>{{event.description}}</p>
            <p>Date: {{event.date}}</p>
          </div>
          <div class="delete-btn">
            <button class="btn btn-sm btn-danger" data-id="{{event.id}}">DELETE</button>
          </div>
        </div>
      </a>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>

<script src="./js/profile.js"></script>