<div class="welcome-banner">    
  <div>
    <h1 class="upcoming-text">Welcome, {{username}}!</h1>
  </div>
</div>
<div class="row mt-4 profile-events">
  <div class="col-md-6 create-event">
    <h3>Create a New Event:</h3>
    <br>
    <form class="form new-event-form">
      <div class="form-group">
        <label for="event-name">Event name:</label>
        <input class="form-input event-input" type="text" id="event-name" name="event-name" />
      </div>
      <div class="form-group">
        <label for="event-description">Description:</label>
        <input maxlength="250" class="form-input event-input" type="text" id="event-description" name="event-description"></textarea>
      </div>
      <div class="form-group">
        <label for="event-date">Date:</label>
        <input class="form-input event-input" type="datetime-local" id="event-date" name="event-date" />
      </div>
      <div class="form-group">
        <label for="event-venue">Venue:</label>
        <select class="form-input event-input" id="event-venue" name="event-venue">
          {{#each venues as |venue|}}
            <option value='{{venue.id}}'>{{venue.name}}</option>
          {{/each}}
        </select>
      </div>
      <br>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-dark homepage-btn">Create</button>
      </div>
    </form>
  </div>
  {{#if events.length}}
  <div class="col-md-6 event-list">
    <h3>My Events:</h3>
    <br>
    {{#each events as |event|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/event/{{event.id}}" class="profile-event-name">{{event.name}}</a></h4>
          <p>{{event.description}}</p>
          <p>Date: {{format_date event.date}} {{format_time event.date}}</p>
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary btn-dark update-btn" data-id="{{event.id}}" id="updateEventButton">Update</button>
        <button class="btn btn-primary btn-dark delete-btn" data-id="{{event.id}}">Delete</button>
        </div>
      </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>